html, body {
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior:smooth;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --background: rgb(24, 24, 24);
    --second-background:rgb(21,21,21);
}
body{
    min-height: 100vh;
    background-color: var(--background)
}
nav{
    position:fixed;
    top:0;
    width:100%;
    padding:2em 15%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(19, 19, 19, 0.8);
    backdrop-filter: blur(10px);
    z-index:1000;
}
ul{
    display:flex;
    align-items: center;
    gap:3em;
}
nav ul a{
    color:rgb(255, 255, 255);
    opacity:0.7;
    transition: 0.2s ease-in-out;
}
nav ul a:hover{
    opacity: 1;
}
.logo{
    font-size:2em;
    color:rgb(255, 255, 255);
    font-weight:800;
    opacity: 0.8;
    transition: 0.2s ease-in-out;
}
.logo:hover{
    opacity:1;
}
.btn{
    padding:0.5em 1em;
    color:white;
    font-weight:500;
    letter-spacing: 1px;
    border-radius:0.5em;
    font-size:1.1em;
    border: 2px solid white;
    cursor:pointer;
    transition: 1.0s ease-out;
}
.btn:hover{
    background-color: rgb(10, 251, 223);
    color:var(--background);
}
span{
    background: linear-gradient(to right,#ff4d00,#00f7ff);
    background-clip:text;
    color:transparent;
}
#menu{
    color:white;
    font-size:3em;
    display: none;
}
section{
    min-height:100vh;
    padding:5% 15%;
}
#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    gap:2em;
    color:white;
}
#home img{
    height: fit-content;
    width:20vw;
    border-radius:900px;
    margin-top: 3em;
    border:5px solid rgb(0, 255, 255);
    box-shadow: 0px 10px 20px rgba(255, 2, 2, 0.8);
}
.info-box{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap:0.5em;
    max-width: 600px;
}
.info-box h1{
    font-size: 55px;
    font-weight: 400;
    background: linear-gradient(to right,#eb9d00,#00ffea);
    background-clip:text;
    color:transparent;
    margin-bottom: 25px;
}
.info-box h3{
    font-size: 2em;
    font-weight: 400;
}
.info-box p{
    opacity: 1.5;
    color: rgb(255, 255, 255);
}
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
.cursor{
    color: #ff9900;
    position: relative;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(249, 255, 255, 0.75);
    font-size: 30px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);  
}
.typewriter-animation {
  animation: 
    typewriter 5s steps(50) 1s 1 normal both, 
    blinkingCursor 500ms steps(50) infinite normal;
}
@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}
@keyframes blinkingCursor{
  from { border-right-color: rgba(255, 255, 255, 0.75); }
  to { border-right-color: transparent; }
}
.btn-box{
    display: flex;
    gap:1em;
}
.btn-box .btn:nth-of-type(2){
    background-color: white;
    color: var(--background);  /*using the var() we can use the property again and again any place in css */
}
.btn-box .btn:nth-of-type(2):hover{
    background-color: var(--background);
    color: rgb(255, 183, 0);
}
#about{
    background-color: var(--second-background);
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5em;
}
.about-box{
    display:flex;
    flex-direction: column;
    text-align: left;
    gap:2em;
}
#about-me{
    background: linear-gradient(to bottom,#1effcb,#b300ff);
    background-clip:text;
    color:transparent;
}
.about-box p{
    margin-top: 15px;
    margin-bottom:15px;
    color:white;
    opacity: 0.8;
}
.about-box ol{
    color:rgb(255, 255, 255)
}
.about-box h3{
    color:rgb(233, 17, 100)
}
#note{
    color: rgb(255, 0, 89);
    background-color: rgb(62, 62, 62);
}
.skills{
    display: flex;
    text-align:left;
    gap:10em;
}   
.skills ul{
    /* font-size: 1.3em; */
    font-weight: 500;
    display: flex;
    flex-direction:column;
    color: white;
    opacity:1.5;
    align-items: baseline;
}
.skills ul li span{
    display: flex;
    align-items: center;
    gap:0.5em;
    font-size: 1.3em;
    transition: 0.3s ease-in-out;
}
.skills ul li span:hover{
    transform: translateX(10px);
}
.skills ul li i{
    font-size: 1.2em;
}
.about-box h2{
    font-size: 2.5em;
}
.projects {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    flex-wrap: wrap;
}
.projects-container{
    display: flex;
    flex-direction: row;
}
.project-card {
    background-color: #00aeff;
    padding: 20px;
    width: 250px;
    border-radius: 15px;
    transition: 0.3s;
    margin: 35px;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.8);
}

.project-card a {
    display: inline-block;
    margin-top: 15px;
    padding: 8px 12px;
    text-decoration: none;
    border: 1px solid rgb(82, 27, 27);
    color: rgb(166, 255, 0);
    border-radius: 5px;
    transition: 0.3s;
}

.project-card a:hover {
    background-color: rgb(79, 97, 135);
    color: #f6ff00;
}
#contact{
    background-color: var(--second-background);
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}
form .input-box{
    display: flex;
    flex-direction:column;
    align-items: baseline;
    gap: 1em;
}
.input-box span{
    font-size: 1.5em;
}
form input{
    font-size:1.1em;
    padding:0.8em 1em;
    width:100%;
    max-width:400px;
    border-radius:0.5em;
    border:none;
    outline:none;
    background-color: rgba(255, 255, 255, 0.856);
}
form input:focus{
    background-color: rgba(255, 255, 255, 0.603);
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10em;
    bottom:0;
    background-color:rgb(58, 58, 58);
    width:100%;
    padding:5em 15%;
}
.col-left{
    display: flex;
    flex-direction:column;
    gap:1em;
}
.col-box{
    display: flex;
    align-items: center;
    gap:1em;
}
.col-bar span{
    font-size:1.2em;
}
.col-right{
    display:flex;
    flex-direction: column;
    gap:1em;
    color:white;
    max-width:500px;
}
.col-right span{
    font-size:1.3em;
}
.col-right .social-icons{
    display: flex;
    align-items: baseline;
    justify-content: left;
    gap:1em;
}
.col-right .social-icons i{
    font-size: 2em;
    transition: 0.2s ease-in-out;
    cursor:pointer;
    color: rgb(0, 217, 255);
}
.social-icons i:hover{
    color:rgb(109, 104, 104);
}
@media (max-width:968px){
    section{
        padding: 8em 15%;
    }
    nav .btn{
        display: none;
    }
    #menu{
        display: block;
    }
    .links{
        position: absolute;
        top:100%;
        right:0;
        width:100%;
        padding:1em 3em;
        color:white;
        display: flex;
        flex-direction:column;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.9);
        display: none;
    }
    .links a{
        margin:2em 0;
        display:block;
        font-size: 1.5em;
        color:white;
    }
    .links.active{
        display: block;
    }
    #home h1{
        font-size: 4em;
    }
    #home h3{
        font-size: 2em;
    }
    #home img{
        width:24vw;
    }
    #about{
        flex-direction: column;
    }
    #about h1{
        font-size: 3em;
    }
    #home ul{
        font-size: 1em;
    }
    .projects-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
}
@media (max-width:768px){
section{
    padding:5% 5%;
}

.cursor{
    width:100%;
    white-space: normal;
    font-size:20px;
}

.project-card{
    width:90%;
    margin:15px 0;
}

#home img{
    width:60%;
    max-width:250px;
}
    #home h1{
        font-size: 2.5em;
    }
    #home h3{
        font-size: 1.5em;
    }
    #home img{
        width:40vw;
    }
    #about .skills{
        gap:3em;
    }
    #projects .header{
        font-size:3em;
    }
    #Contact .header{
        font-size: 3em;
    }
    #contact .input-box span{
        font-size: 1.2em;
    }
    .input-box input{
        padding:0.5em 1 em;
    }
    footer{
        flex-direction: column;
        gap:5em;
        width:100%;
        align-items: baseline;
        padding:10em 5%;
    }
}